[submodule "fpga/verilog-lpc-module"]
	path = fpga/verilog-lpc-module
	url = https://github.com/3mdeb/verilog-lpc-module.git
[submodule "fpga/verilog-tpm-fifo-registers"]
	path = fpga/verilog-tpm-fifo-registers
	url = https://github.com/Dasharo/verilog-tpm-fifo-registers.git
[submodule "fpga/neorv32"]
	path = fpga/neorv32
	url = https://github.com/Dasharo/neorv32.git
[submodule "firmware/twpm-firmware"]
	path = firmware/twpm-firmware
	url = https://github.com/Dasharo/twpm-firmware
