BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk_i" SITE "A9";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 48.0 MHz;

LOCATE COMP "rstn_i" SITE "V17";
IOBUF PORT "rstn_i" IO_TYPE=LVCMOS33;

LOCATE COMP "uart0_txd_o" SITE "M18";        # IO_1
IOBUF PORT "uart0_txd_o" IO_TYPE=LVCMOS33;

LOCATE COMP "uart0_rxd_i" SITE "N17";        # IO_0
IOBUF PORT "uart0_rxd_i" IO_TYPE=LVCMOS33;

LOCATE COMP "led_r" SITE "K4";
IOBUF PORT "led_r" IO_TYPE=LVCMOS33;

LOCATE COMP "led_g" SITE "M3";
IOBUF PORT "led_g" IO_TYPE=LVCMOS33;

LOCATE COMP "led_b" SITE "J3";
IOBUF PORT "led_b" IO_TYPE=LVCMOS33;

