LOCATE COMP "clk_i" SITE "A9";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 48.0 MHz;

LOCATE COMP "lclk_i" SITE "H2";               # IO_12
IOBUF PORT "lclk_i" IO_TYPE=LVCMOS33 PULLMODE=NONE;

LOCATE COMP "lframe_i" SITE "A8";             # IO_11
IOBUF PORT "lframe_i" IO_TYPE=LVCMOS33 PULLMODE=NONE;

LOCATE COMP "lad_bus[0]" SITE "B8";             # IO_10
IOBUF PORT "lad_bus[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE;

LOCATE COMP "lad_bus[1]" SITE "C8";             # IO_9
IOBUF PORT "lad_bus[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE;

LOCATE COMP "lad_bus[2]" SITE "B9";             # IO_6
IOBUF PORT "lad_bus[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE;

LOCATE COMP "lad_bus[3]" SITE "B10";            # IO_5
IOBUF PORT "lad_bus[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE;

LOCATE COMP "clk_rising_export" SITE "C9";             # SCL
IOBUF PORT "clk_rising_export" IO_TYPE=LVCMOS33;

LOCATE COMP "led_r" SITE "K4";
IOBUF PORT "led_r" IO_TYPE=LVCMOS33;

LOCATE COMP "led_g" SITE "M3";
IOBUF PORT "led_g" IO_TYPE=LVCMOS33;

LOCATE COMP "led_b" SITE "J3";
IOBUF PORT "led_b" IO_TYPE=LVCMOS33;
