BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "clk_i" SITE "A9";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 48.0 MHz;

LOCATE COMP "rstn_i" SITE "V17";
IOBUF PORT "rstn_i" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_txd_o" SITE "M18";        # IO_1
IOBUF PORT "uart_txd_o" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_rxd_i" SITE "N17";        # IO_0
IOBUF PORT "uart_rxd_i" IO_TYPE=LVCMOS33;


LOCATE COMP "LCLK" SITE "H2";               # IO_12
IOBUF PORT "LCLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "LCLK" 33.3 MHz;

LOCATE COMP "LRESET" SITE "J2";             # IO_13
IOBUF PORT "LRESET" IO_TYPE=LVCMOS33;

LOCATE COMP "LFRAME" SITE "A8";             # IO_11
IOBUF PORT "LFRAME" IO_TYPE=LVCMOS33;

LOCATE COMP "LAD[0]" SITE "B8";             # IO_10
IOBUF PORT "LAD[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "LAD[1]" SITE "C8";             # IO_9
IOBUF PORT "LAD[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "LAD[2]" SITE "B9";             # IO_6
IOBUF PORT "LAD[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "LAD[3]" SITE "B10";            # IO_5
IOBUF PORT "LAD[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "SERIRQ" SITE "C9";             # SCL
IOBUF PORT "SERIRQ" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_clk_o" SITE "R17";         # FIXME: constrained anywhere to prevent nexpnr from complaining. Flash is connected to U16 pin which cannot be constrained from here.
IOBUF PORT "spi_clk_o" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_dat_o" SITE "U18";         # MOSI
IOBUF PORT "spi_dat_o" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_dat_i" SITE "T18";         # MISO
IOBUF PORT "spi_dat_i" IO_TYPE=LVCMOS33;

LOCATE COMP "spi_flash_cs_o" SITE "U17";    # CS
IOBUF PORT "spi_flash_cs_o" IO_TYPE=LVCMOS33;
